<!DOCTYPE html>
<html>
    <head>
        <title>Code Editor</title>
        <link rel="stylesheet" type="text/css" media="screen" href="/styles/main.css" />
    </head>

    <body>
        <div id="interfaces">
            <button id="submit" class="small-btn">실행</button>
        </div>
        <div id="code-window">
            <textarea id="editor" class="text-box">{{file_name}}</textarea>
            <label id="printed" class="result-label">dd</label>
        </div>
        <script src="/scripts/editor.js"></script>
    </body>
</html>