<!DOCTYPE html>
<html>
    <head>
        <title>ㅎㅎ</title>
        <link href="https://fonts.googleapis.com/css?family=Kirang+Haerang" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="styles/main.css" />
        <link rel="stylesheet" type="text/css" href="styles/login.css" />
    </head>

    <body>
        <div id="login-align">
            <form id="login-window" action="" method="POST">
                <p class="login-text">ID</p>
                <input id="login-box" class="login-box" type="text" placeholder="ID" name="logid"/>
                <p class="login-text">Password</p>
                <input id="pwd-box" class="login-box" type="password" placeholder="PASSWORD" name="logpwd"/>
                <p id="caution-p" class="login-text">{{caution_str}}</p>
                <input id="login-btn" class="small-btn" type="submit" value="LOGIN"/>
            </form>
        </div>
    </body>
</html>