#login-align {
    min-height: 95vh;
    text-align: center;
    vertical-align: middle;
}

#login-window {
    display: inline-block;
    border: 3px solid var(--theme-shadow);
    width: 400px;
    height: auto;
    border-radius: 5px;
    padding: 20px;
    margin: 100px;
}

.login-text {
    color: var(--theme-shadow);
    font-family: 'Kirang Haerang', cursive;
    letter-spacing: 2px;
    font-size: 26px;
    text-align: right;
}

.login-box {
    border: 2px solid var(--theme-shadow);
    border-radius: 5px;
    background-color: #e7e2f1;
    width: 100%;
    height: 20px;
}